.container {
	max-width: 1170px;
	margin: auto;
}

/* chat-요소 */
.chatlog {
  overflow: auto;
  margin: 1rem;
  height: 1100px;
}

.chatlog_mine {
  margin-left: 20%;
  display: table;
  padding-bottom: 10px;
  float: right;
  clear: both;
}
.chatlog_mine h5 {
  display: table-caption;
  visibility: hidden;
  font-size: 5px;
}

.chatlog_receive {
  margin-right: ;
  width: auto;
  display: table;
  padding-bottom: 10px;
  float: left;
  clear: both;
}
.chatlog_receive h5 {
  display: table-caption;
  padding: 5px;
  color: #4A4A4A;
  font-size: 20px;
}
.chatlog_mine p {
  background: #FBE8A6 none repeat scroll 0 0;
  border-radius: 20px 20px 0px 20px;
  clear: ;
}

.chatlog_receive p {
  background: #E9E9E9 none repeat scroll 0 0;
  border: 1px solid #B9B9B9;
  border-radius: 20px 20px 20px 0px;
  clear: ;
  width: auto;
}

.chatlog_mine p, .chatlog_receive p {
  color: #000000;
  font-size: 15px;
  padding: 10px 20px;
  display: table-cell;
  width: auto;
}

.chatlog_mine span, .chatlog_receive span {
  font-size: 10px;
  display: table-cell;
  vertical-align: bottom;
  padding-bottom: 3px;
  padding-right: 5px;
  padding-left: 5px;
  color: #646464;
  letter-spacing: 1px;
}